.container{
    position: relative;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    left: 0;
    margin: 10px;
    text-align: center;
    height: inherit;
    overflow-y: auto;
    padding-bottom: 20px;
    min-width: min-content;
}

.content{
    vertical-align: top;
    display: inline-block;
    text-align: left;
    font-size: x-large;
    align-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow: hidden;
    max-height: min-content;
}


html{
    height: 100%;
    min-width: min-content;
}

body{
    margin: 0;
    height: calc(100% - 63px);
}

h3 > div{
    display: inline-block;
}

input[type=text], input[type=password], input[type=number], input[type=date], select, #file + label {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;

  }

  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=file]{
    width: 0.1px;
	height: 0.1px;
	position: absolute;
}
  
  input[type=submit] {
    width: 100%;
    background-color: #1abc9c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0e886f;
  }


#file:focus + label, #file + label:hover {
    background-color: rgb(253, 97, 40);
    color: white;
}

#file + label {
	cursor: pointer; /* "hand" cursor */
}

.upload-text{
    display: inline-block;
}

.material-icons.lg{
    font-size: large;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffe1d6; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #1abc9c; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0e886f; 
  }