header{
    margin: 0px;
    padding: 0px;
    background: #1abc9c;
    color: white;
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 61px;
}

header > #programname{
    float: left;
    padding-left: 10px
}

.control-panel{
    float: right;
    position: relative;
    vertical-align: center;
}

header a, .a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    align-items: center;
}

header a:hover{
    background-color: #0e886f;
    cursor: pointer;
}


footer{
    position: relative;
    height: 25px;
    text-align: center;
    background: #1abc9c;
    color: white;
}