<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mérőállások</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/button.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/header.css}">
</head>
<header>
    <h1 id="programname">Mérőállás bejelentés</h1>
    <a id="rllogo">Reverse-Logic</a>
</header>
<body>
    <div class="container">
        <div class="content content2">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Új mérőállás rögzítése</h3>
                    <form th:action="@{'/readinglist/new'}" method = "post" enctype="multipart/form-data">
                        
                        <table class="tble">
                            <tr hidden>
                                <td>Mérőóra:</td>
                                <td><input type="text" name=meterID th:value="${meterid}"></td>
                            </tr>
                            <tr>
                                <td>Mérőállás:</td>
                                <td><input class="input" type="number" name="value"></td>
                            </tr>
                            <tr>
                                <td>Leolvasás napja:</td>
                                <td><input class="input" type="date" name="readingDate"></td>
                            </tr>
                            <tr>
                                <td>Kép:</td>
                                <td><input class="input" type="file" accept="image/*" name="file"></td>
                            </tr>

                            <td>
                                <input class="btn" type="submit" value="Rögzítés">
                            </td>
                        </table>
                    
                        
                    </form>
                </div>
            </div>
        </div>
        
        <div class="content content2">
                <h3>Mérőállások</h3>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Érték</th>
                        <th>Leolvasás napja</th>
                        <th>Kép</th>
                    </tr>
                    <tr th:each="reading : ${readinglist}">
                        <td th:text="${reading.id}"></td>
                        <td th:text="${reading.meterActualValue}"></td>
                        <td th:text="${reading.readingDate}"></td>
                        <td><a th:href="${'/image/' + reading.imagename}">Megtekint</a></td>
                    </tr>
                </table>
        </div>
        
    </div>
</body>
</html>